dmenu-recent/
BraveSoftware/*
**/__pycache__/
coc/extensions/
discord/
syncthing/
lunarclient/
pulse/
activitywatch/
fcitx/dbus/
okularrc
okularpartrc
OpenSCAD/
QtProject.conf
kwalletrc
dconf/
zoomus.conf
pcmanfm/
INRIA/
Natron-qt.conf
pipewire/
viewnior/
Slack/
cef_user_data/
unity3d/
Android*
Google/
capacitor/
kconf_updaterc
keybase/
Keybase/
blender/
chromium/
figma-linux
Condution
VirtualBox/
