[submodule "polybar/polybar-themes"]
	path = polybar/polybar-themes
	url = git@github.com:adi1090x/polybar-themes.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "emacs/math-at-point"]
	path = emacs/math-at-point
	url = https://github.com/shankar2k/math-at-point.git
[submodule "ranger/plugins/ranger-zoxide"]
	path = ranger/plugins/ranger-zoxide
	url = git@github.com:jchook/ranger-zoxide.git
