[submodule "polybar/polybar-themes"]
	path = polybar/polybar-themes
	url = git@github.com:adi1090x/polybar-themes.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
