dmenu-recent/
BraveSoftware/*
**/__pycache__/
coc/extensions/
discord/
syncthing/
lunarclient/
pulse/
activitywatch/
fcitx/dbus/
okularrc
okularpartrc
OpenSCAD/
QtProject.conf
kwalletrc
dconf/
zoomus.conf
pcmanfm/
INRIA/
Natron-qt.conf
pipewire/
viewnior/

