[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xilinx Information Center
Comment=Xilinx Information Center
Icon=/home/exr0n/tools/Xilinx/xic/data/images/xlnx_logo.png
Exec=/home/exr0n/tools/Xilinx/xic/xic -c -t
